/.env
/models/__pycache__
/middlewares/__pycache__
/database/__pycache__
/controllers/__pycache__
/base_models/__pycache__
/__pycache__
/academy-e19ae-firebase-adminsdk-elgv0-734a8ab615.json
/services/__pycache__
